html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}
body {
    border-bottom: 1px solid #aaa;
}

li {
    margin: .8em;
}

#header {
    background-color: #eeff66;
    border-bottom: 1px solid #aaa;
}

#header h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

#header, #content {
    padding: 30px;
}

#content {
    background-color: #fff;
}
